.light{
    --primary-color: #333;
    --secondary-color: #333;
    --ternary-color: #333;
    --fourth-color: #333;
    --other-color: #333;
    --text-color: #333;
    --text-descr-color: #333;
    --text-selected-color: #333;
    --button-bg-color: #333;
    --button-text-color: #fff;
    --button-text-contrast-color: #333;
    --button-selected-color: #333;

}