.night{
    --primary-color:
    --secondary-color:
    --ternary-color:
    --fourth-color:
    --other-color:
    --text-color:
    --text-descr-color:
    --text-selected-color:
    --button-bg-color: #333
    --button-text-color:
    --button-text-contrast-color:
    --button-selected-color:
}