.wrapper {
	display: block;
	width: 45px;
	height: 25px;
	cursor: pointer;
	position: relative;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"]:checked+.toggler_slider {
	background-color: #44cc66;
}

.toggler_slider {
	background-color: #ccc;
	position: absolute;
	border-radius: 100px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}

input[type="checkbox"]:checked+.toggler_slider .toggler_knob {
	left: calc(100% - 19px - 3px);
}

.toggler_knob {
    position: absolute;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;

	width: calc(25px - 6px);
	height: calc(25px - 6px);
	border-radius: 50%;
	left: 3px;
	top: 3px;
	background-color: #fff;
}